Source: watchman
Section: misc
Priority: optional
Maintainer: Matt Whiteley <mwhiteley@fastly.com>
Build-Depends: debhelper (>= 9), cdbs, dh-autoreconf, libmagic1, libpcre3-dev,
  libreadline6
Standards-Version: 3.9.5
Homepage: https://facebook.github.io/watchman/
#Vcs-Git: git://anonscm.debian.org/collab-maint/watchman.git
#Vcs-Browser: http://anonscm.debian.org/?p=collab-maint/watchman.git;a=summary

Package: watchman
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A file watching service.
 Watchman exists to watch files and record when they actually change. It can
 also trigger actions (such as rebuilding assets) when matching files change.
